@import url(http://fonts.googleapis.com/css?family=News+Cycle);

:focus {
  background-color: #FFF700;
  font-style: bold;
}

body {
	background-image: url(../img/linen.png);
  font-family: sans-serif;
}

.logo {
	float: right;
	position: absolute;
	right: 0px;
	height: 50px;
	width: 50px;
}

.jumbotron {
  background-color: #E0E0E0;
  border-top: #8C1717 solid 9px;
}

.phone {
  margin-top: 25px;
}


h1 {
	font-family: 'News Cycle';
}

a:link,
a:visited,
a:hover {
	color: black;
	opacity: 0.7;
}

.box-pizza {
	background-image: url(../img/notebook.png);
  border-top: #8C1717 solid 9px;
  margin-top: 7px;
  border-radius: 15px;
}

.box-drinks,
.box-desserts {
  background-image: url(../img/notebook.png);
  border-top: #8C1717 solid 9px;
  border-radius: 15px;
}

.extras {
  margin-bottom: 19px;
}

.info {
    background-color: #e4e4e4;
}

.extras {
  margin-bottom: 5px;
}

 li {
    list-style-type: none;
    font-size: 115%;
    text-align: center;
}

.disclaimer {
	font-size: 115%;
	text-align: center;
  font-weight: bold;
}

.image {
  height: 100%;
  width: 100%;
}

.image:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: none;
}

.col-md-pull-8 {
  min-height: 100%;
  height: 100%;
}

.col-md-4 {
 text-align: center;
}

figure {
        display: inline-block;
        padding: 5px;
        background-color: #FFF;
}


figure img{
        width: 160px;
        height: 120px;
        border: 3px solid #FFF;
        border-radius: 2px;
}


figcaption {
        font-weight: 300;
        text-align: center;
        margin-top:  5px;
}


.order {
	  width: 200px;
      height: 150px;
      border: 3px solid #FFF;
      border-radius: 2px;
      float:right;
}

.photos {
  text-align: center;
}

dl {
  margin-left: 15px;
  text-align: left;
}

h2 {
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
  border-bottom: black solid 2px;
}

h4 {
  text-align: center;
}


.row {
  background-color: #F0F0F0;
  min-height: 100%;
  height: 100%;
}

.story {
  background-image: url(../img/tree.png);
  background-repeat: no-repeat;
  background-position: center;
}

.divide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  margin-top: 1px;
}

.template-pizzas,
.template-drinks,
.template-desserts {
  display: none;
}